/*font-family: 'Julius Sans One', sans-serif;
font-family: 'Crimson Text', serif;*/
/* Color Theme Swatches in Hex */
.Elk-Pic-1-hex { color: #2E688C; }
.Elk-Pic-2-hex { color: #82B8D9; }
.Elk-Pic-3-hex { color: #D5E7F2; }
.Elk-Pic-4-hex { color: #011C26; }
.Elk-Pic-5-hex { color: #8C775D; }

/* Color Theme Swatches in RGBA */
.Elk-Pic-1-rgba { color: rgba(46, 104, 140, 1); }
.Elk-Pic-2-rgba { color: rgba(130, 184, 217, 1); }
.Elk-Pic-3-rgba { color: rgba(213, 231, 242, 1); }
.Elk-Pic-4-rgba { color: rgba(1, 28, 38, 1); }
.Elk-Pic-5-rgba { color: rgba(140, 119, 93, 1); }

/* Color Theme Swatches in HSLA */
.Elk-Pic-1-hsla { color: hsla(202, 50, 36, 1); }
.Elk-Pic-2-hsla { color: hsla(202, 53, 68, 1); }
.Elk-Pic-3-hsla { color: hsla(202, 52, 89, 1); }
.Elk-Pic-4-hsla { color: hsla(196, 94, 7, 1); }
.Elk-Pic-5-hsla { color: hsla(33, 20, 45, 1); }
*{
    box-sizing: border-box;
}

body{
    background-color: #8C775D;
    color: #011C26;
    margin:0;
}

/*header{
    font-family: 'Julius Sans One', sans-serif;
    position: fixed-top;
    background-color: gray;
}*/

/*.navList{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    
}*/
a{
    font-family: 'Julius Sans One', sans-serif;
    color: #011C26;
    display: block;
    
}

a:hover{
    color: #2E688C;
}

header{
    display: flex;
    position: fixed;
    background-color:#D5E7F2;
    top: 0px;
    width: 100%;
    justify-content: flex-end;
}


header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    flex-direction: row;
    
}

header ul a{
    display: block;
    padding: 20px;
    border-right: 1px solid black;
    text-decoration: none;
}



header .menu{
    clear:both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menuIcon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

header .menuIcon .navIcon{
    background: #011C26;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

header .menuIcon .navIcon:before{
    background: #2E688C;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2 ease-out;
    top:5px;
}

header .menuIcon .navIcon:after{
    background: #82B8D9;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2 ease-out;
    top:-5px;
}

header .menuButton{
    display: none;
}

header .menuButton:checked ~ .menu{
    max-height: 240px;
}

/*main{
    display: flex;
    flex-direction: column;
    
}*/

h2{
    font-family: 'Julius Sans One', sans-serif;
}

.container-1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding-top: 2.5rem;
    
    
    
}

.hero{
    font-family: 'Julius Sans One', sans-serif;
    
    flex-basis: 100%;
}

.hero-content{
    text-align: center;
}


.picture{
    display: flex;
    flex-basis:50%;
    justify-content: center;
    padding-top: 3rem;
    
    
}

.profile-pic{
    display: block;
    width:100%;
    padding: 1rem;
    
   
    

}

.contactInfo{
    font-family: 'Crimson Text', serif;   
    width: 100%;
    flex-basis: 50%;
    margin-left: 3pix;
    padding-top:3rem;
    
    
}



.bio{
    font-family: 'Crimson Text', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    padding-top: 3rem;
    
    
}



.project1{
    font-family: 'Crimson Text', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-top: 3rem;
    
}

.indent{
    text-indent: 30pt;
}

.project1 h2{
    align-items: flex-start;
}

footer{
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    justify-content: center;
}

.appThumbNail{
    height:10rem;
    width:15rem;
}

@media screen and (min-width:768px){
    header{
        display:inline-block;
        position: sticky;
        background-color:#D5E7F2;
        /*top: 0px;*/
        width: 100%;
        justify-content: flex-start;
        
    }

    header nav .menu{
        display: flex; 
        justify-content: space-around;
        max-height: 100%;
    }

    header ul a{
        border: none;
        text-decoration: none;
        
    }
    
    header .menuIcon{
        display: none;
    }
    
    header .menuIcon .navIcon{
        display: none;
        
    }
    
    
    header .menuButton{
        display: none;
    }

    .container-1{
        padding-top: .5rem;
        margin-top: .5rem;
    }

    .hero{
        margin-bottom: 2rem;
    }
    
    .contactInfo{
        display: block;
        justify-content: center;
        padding-left: 2rem;
        
    }

    .picture{
        border-right: 1px solid #011C26 ;
    }
    .profile-pic{
        width: 70%
    }

    p{
        margin: 10px;
    }
   
}

@media screen and (min-width:1024px){

}